.header-container{
    width: 100%;
    min-height: 20%;
    background-color: var(--bg-color-secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-container h1{
font-size: 40px;
}
.header-container h3{
    color: white;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}