.modal-container {
	width: 100%;
	height: 80%;
	padding: 0 100px;
	background-color: var(--bg-color-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    position: relative;
}
.modal-container .img-prev{
    position: absolute;
    right: -250px;
    /* right: -50%; */
    bottom: 10%;
}
.modal-container .img-prev img{
    width: 100px;
    /* height: 110px; */
    object-fit: contain;
}
.modal-container .add-img {
	/* height: 100px; */
	min-height: max-content;
	margin-top: 20px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(68, 67, 67);
    position: relative;
}
.modal-container .add-img label  {
	/* width: 40px; */
	/* height: 40px; */
    padding: 0px 10px;
	border-radius: 50%;
	margin-bottom: 10px;
	background-color: transparent;
	color: var(--color-primary);
	font-size: 30px;
	font-weight: 300;
	border: 1px solid var(--color-primary);
	transition: 0.1s ease-in-out;
}
.modal-container .add-img input[type='file']{
    display: none;
}

.modal-container .add-img .icon:hover {
    background-color: var(--color-primary);
	color: white;
}
.modal-container .add-img .upload-file {
width: 53px;
height: 30px;
font-size: 16px;
font-weight: 400;
color: rgb(68, 67, 67);
margin: 10px;
}
.modal-container .loading-bar {
	width: 100%;
    height: 20px;
	display: flex;
	/* background-color: gray; */
    /* margin-bottom: 30px; */
	/* justify-content: center; */
	/* background-color: rgba(102, 51, 153, 0.336); */
}
.modal-container .image-display {
	width: 100%;
	height: 400px;
	/* background-color: gray; */
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 200px;
	grid-auto-rows: 230px;
	gap: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-container .image-display img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50%;
	/* background-color: gray; */
}
